// 人为因素新增按钮的样式
.humanFactorList .addHumanFactorButton {
    position: absolute;
    top: 0.5rem;
    right: 1.125rem;
}
.humanFactorList .riskAssessmentButton {
    position: absolute;
    top: 0.5rem;
    right: 7.5rem;
}
